*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sltLogo{
  position: relative;
  background-color: #8ECCE7;
  border-radius: 0px 0px 0px 150px;
  height: 400px;
}
.sltLogo img{
  position: absolute;
  left: 50%;
  bottom: 50%;
  right: 50%;
  width: 100px;
  height: 100px;

}
.login-text{
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.login-heading{
  font-size: large;
  font-weight: 500;
  padding-left: 70%;
}
.form{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.email{
  padding: 5px;
  border: 5px solid #E3E3E3;
  border-radius: 5px;
}
.email span img{
  transform: translate(0,30%);
  width: 20px;
  height: 20px;
}
.email input{
  padding: 5px 10px;
  border: none;
  font-size: medium;
}
.password{
  padding: 5px;
  border: 5px solid #E3E3E3;
  border-radius: 5px;
}
.password span img{
  transform: translate(0,30%);
  width: 20px;
  height: 20px;
}
.password input{
  padding: 5px 10px;
  border: none;
  font-size: medium;
}
.login-button{
  padding: 5px 100px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  background-color: #8ECCE7;
  color: #FFFFFF;
}

.register-link{
  display: flex;
  justify-content: space-between;
}

.link{
  color: black;
  font-weight: 700;
}
.register-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: large;
}
.register-heading{
  color: #8ECCE7;
  font-size: xx-large;
  font-weight: 700;
}
.register-logo img{
  width: 100px;
  height: 100px;
}
.home-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.plusIcon{
  width: 50px;
  height: 50px;
}
.search{
  display: flex;
  border: 2px solid black;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}
.searchIcon{
  /* transform: translate(0,10%); */
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.searchbar{
  border: none;
  height: 30px;
  width: 100px;
  font-size: 30px;
}
.button-1 {
  background-color: black;
  border-radius: 8px;
  margin: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
 
}
.button-2 {
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  color: #333333;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;

}
.buttons{
  display: flex;
}
.sltAccount{
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  background-color: #333333;
  color: white;
  position: relative;
}
.sltAccount-header{
  display: flex;
}

.slt{
  position: relative;
  padding: 5px 20px;
  margin-right: 150px;
  font-weight: 500;

}
.account{
  position: absolute;
  bottom: -10px;
  left:10px;
  font-weight: 500;

}
.date{
  position: relative;

}
.dates{
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
}
.battery{
  background-color: #FFE703;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  bottom: -200px;
  width: 350px;
  height: 250px;
  left: 0;
  border-radius: 10px;
}
.accName{
  color: grey;
  position: relative;
  padding: 5px 20px;
  font-weight: 500;
}
.name{
  color: black;
  position: absolute;
  left:15px;
  top: 30px;
  font-weight: 500;
}
.accId{
  color: grey;
  position: relative;
  padding: 5px 20px;
  font-weight: 500;
}
.id{
  color: black;
  position: absolute;
  left:15px;
  top: 30px;
  font-weight: 500;
}
.diagonal-img{
  transform: translate(0,30%);
  width: 30px;
  height: 30px;
}
.level-img{
  width: 350px;

}